[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"
pyyaml = "*"
alpha-vantage = "*"
uritemplate = "*"

[dev-packages]
pipenv = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
isort = {extras = ["pipfile_deprecated_finder", "requirements_deprecated_finder"], version = "*"}
commitizen = "*"

[requires]
python_version = "3.7"
