[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"
pyyaml = "*"
alpha-vantage = "*"
uritemplate = "*"
numpy = "*"
python-json-logger = "*"
yfinance = "*"
python-dateutil = "*"
commitizen = "*"

[dev-packages]
pipenv = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
isort = {extras = ["pyproject"], version = "*"}
commitizen = "*"

[requires]
python_version = "3.7"
