[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-json-logger = "*"

[dev-packages]
pipenv = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
isort = {extras = ["pipfile_deprecated_finder", "requirements_deprecated_finder"], version = "*"}
commitizen = "*"

[requires]
python_version = "3.7"
