<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style>
        .success-message {
            background: green;
        }
    </style>
</head>
<body>
    <h1>login boi</h1>
    <!--Make a form for this-->
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <span>Username: <input type="text" name="username" placeholder="Username" /></span>
        </div>
        <div>
            <span>Password: <input type="password" name="password" placeholder="Password" /></span>
        </div>
        <div>
            <input class="btn login_btn" type="submit" value="Login"/>
        </div>
        <div class='success-message'>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    </form>
</body>
</html>

